.title {
  color: #10538a;
  font: normal normal bold 26px/39px Poppins;
  padding-left: 23px;
}

.rect {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 42px;
  opacity: 1;
  width: 203px;
  height: 203px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.rect:hover, .rect-large:hover, .sub-rect-large:hover {
  box-shadow: 0px 0px 5px #149DB77A;
}

.rect-large {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 42px;
  opacity: 1;
  width: 419px;
  height: 203px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.sub-rect-large {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 42px;
  opacity: 1;
  width: 465px;
  height: 203px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.text {
  font: normal normal bold 16px/19px Times New Roman;
  letter-spacing: 0px;
  color: #B7B7B7;
  opacity: 1;
  margin: 0;
}

.plus {
  color: #2076BD;
  font-size: 30px;
  padding-right: 20px;
  display: inline;
}

.text-large {
  text-align: left;
  font: normal normal normal 22px/27px Times New Roman;
  letter-spacing: 0px;
  color: #2076BD;
  opacity: 1;
}

.img-large {
  padding-top: 30px;
  padding-left: 60px;
}

.aso-mrg {
  margin-top: 85px;
}

.sub-aso-mrg {
  margin-top: 45px;
}

.sub-img-large {
  padding-top: 30px;
  padding-left: 20px;
}