<!-- panel principal -->
<div class="ui-g">
  <div class="ui-g-12 pt-0 pb-0">
    <span class="title">Dashboard</span>
  </div>

  <!-- calendario -->
  <div (click)="goCalendario()" class="ui-g-3">
    <div class="rect">
      <div class="text-center">
        <img src="assets/img/dashboard/Icon feather-calendar.svg" class="pt-5"/>
        <p class="text pt-3">Calendario</p>
      </div>
      <div class="text-right">
        <i class="fa fa-plus-circle plus"></i>
      </div>
    </div>
  </div>

  <!-- loterias -->
  <div (click)="goLoterias()" class="ui-g-3">
    <div class="rect">
      <div class="text-center">
        <img src="assets/img/dashboard/Icon feather-film.svg" class="pt-5"/>
        <p class="text pt-3">Loterías</p>
      </div>
      <div class="text-right">
        <i class="fa fa-plus-circle plus"></i>
      </div>
    </div>
  </div>

  <!-- conf empresa -->
  <div (click)="goConfiguracionEmpresa()" class="ui-g-6">
    <div class="rect-large">
      <div class="ui-g-6 p-0 text-left">
        <img src="assets/img/dashboard/empresas.svg" class="sub-img-large"/>
      </div>
      <div class="ui-g-6 p-0">
        <div class="ui-g-12 p-0 aso-mrg">
          <span class="text-large">Configurar Empresas</span>
        </div>
        <div class="ui-g-12 p-0 text-right sub-aso-mrg">
          <i class="fa fa-plus-circle plus"></i>
        </div>
      </div>        
    </div>
  </div>

  <!-- conf asociacion -->
  <div (click)="goConfiguracionAsociacion()" class="ui-g-6 pl-2">
    <div class="sub-rect-large">
      <div class="ui-g-6 p-0">
        <img src="assets/img/dashboard/asociacion.svg" class="img-large"/>
      </div>
      <div class="ui-g-6 p-0">
        <div class="ui-g-12 p-0 aso-mrg">
          <span class="text-large">Configurar Asociaciones</span>
        </div>
        <div class="ui-g-12 p-0 text-right sub-aso-mrg">
          <i class="fa fa-plus-circle plus"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- usuarios -->
  <div (click)="goUsuarios()" class="ui-g-3 pl-5">
    <div class="rect">
      <div class="text-center">
        <img src="assets/img/dashboard/men.svg" class="pt-5"/>
        <p class="text pt-3">Usuarios</p>
      </div>
      <div class="text-right">
        <i class="fa fa-plus-circle plus"></i>
      </div>
    </div>
  </div>    
  <div class="ui-g-3">
  </div>
</div>
