<!-- panel principal -->
<div class="pnl1 mat-elevation-z8">
  <div class="head">
    <span class="title">primer componente</span>
  </div>
  <mat-horizontal-stepper linear #steprogramacion>
    <mat-step>
      <ng-template matStepLabel>Información</ng-template>
      Información uno
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirmación</ng-template>
      Confirmación dos
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Resume</ng-template>
      Resumen tres
    </mat-step>  
  </mat-horizontal-stepper>
  
  <button
    (click)="filtrar()"
    class="btn-light"
    style="width: 200px;"
    type="button">
      <label class="btn-label"> show table</label>
      <i class="fa fa-plus-circle btn-icon font-size-20 pl-2"></i>
  </button>
  
  <ng-container *ngIf="paginador && paginador.records && paginador.records.length">
    <p-table
      id="tblhorarios"
      #tblhorarios
      [value]="paginador.records"
      (onPage)="paginador.scrollerListener($event)"
      [totalRecords]="paginador.data.totalRecordsNumber"
      alwaysShowPaginator="true"
      [rowsPerPageOptions]="paginador.rowsPerPageOptions"
      [rows]="paginador.rowsDefault"
      [responsive]="true"
      [paginator]="true"
      [lazy]="true"
      styleClass="tbl-app m-3"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{{ paginador.pageReport }}">
  
      <ng-template pTemplate="header">
        <tr class="text-center">
          <th style="width: 25%;">NOMBRE</th>
          <th style="width: 25%;">DIA</th>
          <th style="width: 25%;">NUMERO</th>
          <th style="width: 25%;">HORA</th>
        </tr>
      </ng-template>
  
      <ng-template pTemplate="body" let-hora>
        <tr>
          <td class="text-left">{{ hora.nombreLoteria }}</td>
          <td class="text-left">{{ hora.dia }}</td>
          <td class="text-left">{{ hora.nroSorteo }}</td>
          <td class="text-left">{{ hora.horaSorteo }}</td>
        </tr>
      </ng-template>
  
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="5">
            <div class="mr-2 ml-2 mt-2 mb-2 ui-messages ui-messages-info ui-corner-all p-2">
              <span class="ui-messages-icon pi pi-info-circle"></span>
              <span class="ui-messages-detail font-size-15 mt-1">
                <strong>No se encontraron HORARIOS</strong> que coincidan con los criterios de filtro de búsqueda ingresado
              </span>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>

</div>
