<!-- panel principal -->
<div class="pnl-1">

  <!-- panel formulario -->
  <div class="pnl-2">

    <!-- formulario ingreso informacion -->
    <form
    name="formLogin"
    novalidate>

      <!-- panel ingreso informacion -->
      <div class="ui-g container">

        <!-- nombre usuario -->
        <div class="ui-g-12 mart">
          <div class="inner-addon left-addon">
            <i class="fa fa-user font-size-16 aico"></i>
            <input
              type="text"
              id="username"
              name="username"
              autocomplete="off"
              appRequired
              appAutofocus
              class="w-100"
              placeholder="Nombre de Usuario"/>
          </div>
        </div>

        <!-- password -->
        <div class="ui-g-12">
          <div class="inner-addon left-addon">
            <input
              type="password"
              #inclave
              id="clave"
              name="clave"
              autocomplete="off"
              appRequired
              class="w-100"
              placeholder="Contraseña"/>
          </div>
        </div>

        <!-- btn inicio sesion -->
        <div class="ui-g-12 mb-0 pb-0 text-center">
          <div class="inner-addon left-addon">
            <i class="fa fa-user-circle aico user-icon"></i>
            <button (click)="iniciarSesion()" type="button" class="btn btn-primary w-100">
              <span class="font-new-roman mr-2 font-size-12 font-weight-bold">INICIAR SESIÓN</span>
            </button>
          </div>
        </div>
      </div>
    </form>    
  </div>
</div>
